{% extends 'base.html' %}

{% block title%} Index {% endblock %}
{% block content %}

{{data}}
<div class="container d-flex flex-row justify-content-center">

<a href="{{ url_for('form') }}">
    <div class="profile-card-2"><img src="../static/read.jpg" class="img img-responsive">
        <div class="profile-name">Share To Help</div>
        <div class="profile-username">Share what you've overcome to help others who may relate </div>

    </div>

</a><a href="{{ url_for('form') }}">
    <div class="profile-card-2"><img src="../static/write.jpg" class="img img-responsive">
        <div class="profile-name">Share For Help</div>
        <div class="profile-username">Find inspiration from people who truly relate</div>

    </div>
</a>




</div>




{% endblock %}