{% extends 'base.html' %}

{% block title%} Index {% endblock %}
{% block content %}


<div class="container d-flex flex-row">


    <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg"
            class="img img-responsive">
        <div class="profile-name">Create Stories</div>
        <div class="profile-username">share you info blah blah blah </div>

    </div>


    <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg"
            class="img img-responsive">
        <div class="profile-name">Create Stories</div>
        <div class="profile-username">share you info blah blah blah </div>

    </div>

</div>




{% endblock %}